<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370002768338-t2a6j9jmkk856lov9ov1kr2reckl8i9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370002768338-t2a6j9jmkk856lov9ov1kr2reckl8i9h</string>
	<key>API_KEY</key>
	<string>AIzaSyCFyKhYgqTdUriyjq8boBasVS2ylQLhzmI</string>
	<key>GCM_SENDER_ID</key>
	<string>370002768338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.simim.Foodly</string>
	<key>PROJECT_ID</key>
	<string>foodly-7a701</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-7a701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370002768338:ios:59c66481d194f58ef6980b</string>
</dict>
</plist>